.league-info {
    width: 50%;
    background: linear-gradient(135deg, #cf9b9b, #ee0707, #7254c4, #0f0fe6);
    background-size: cover;
    backdrop-filter: blur(10px);
    border-radius: 7px;
    margin:10px;
}

.league-info img {
    height: 120px;
    width: 120px;
    padding: 20px;
}