.league-info {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #cf9b9b, #ee0707, #7254c4, #0f0fe6);
  background-size: cover;
  backdrop-filter: blur(10px);
  border-radius: 7px;
  margin: 10px;
}

.league-info img {
  height: 120px;
  width: 120px;
  padding: 20px;
}

.season-select {
  height: 30px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.season-select:hover {
  box-shadow: 0px 8px 16px rgba(0, 123, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}
