.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url("C:\Projekti\NBA-statistics-app\frontend\src\assets\slika.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-div {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 300px;
  min-width: 320px;
  text-align: center;
  background-color: #fff;
}

.login-div h2 {
  font-size: 2rem;
  margin: 0;
  padding: 15px;
  background-color: #2a5a6d;
  color: white;
  border-bottom: 2px solid #ccc;
  border-radius: 8px 8px 0 0;
}

.login-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-form label {
  font-weight: bold;
  align-self: flex-start;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #2a5a6d;
  outline: none;
}

.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2a5a6d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #2a5a6dbe;
}

.register-link {
  color: #039aff;
  text-decoration: none;
  margin-bottom: 15px;
}

.register-link:hover {
  text-decoration: underline;
}
