.teamTable {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  padding-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.teamTable li,
.table-info {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
}

.teamTable li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height:50px;
}
.playedMatches {
  margin-right: 10px;
  font-weight: bold;
}

.table-info h3 {
  width: 245px;
}

.win-lose {
  display: flex;
  gap: 7px;
  margin-right:26px;
}
.win-lose-info {
  display: flex;
  gap: 4px;
}

.teams-name {
  width: 195px;
  letter-spacing: 1px;
}
.teams-name h3 {
  font-weight: 100;
  font-size: 16px;
}
.team-points {
  width: 25px;
}

.logo img{
  background-size: contain;
  width: 26px;
  height: 26px;
}

.logo-and-teamName {
  display: flex;
  gap: 10px;
  align-items: center;  
}

.team-position {
  width: 25px;
  font-weight: bold;
}