@import "./styles/header.css";
@import "./styles/teamTable.css";
@import "./styles/leagueInfo.css";
@import "./styles/latestMatch.css";
@import "./styles/playersStatistics.css";
@import "./styles/allPlayersStatistics.css";
@import "./styles/teamPage.css";
@import "./styles/playerPage.css";
@import "./styles/footer.css";
@import "./styles/allMatches.css";

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.container {
  background-color: rgba(213, 219, 231, 0.432);
}

.app-components{
  margin: 0px 60px;
}

.left-half {
  width: 60%;
}

.right-half {
  width: 40%;
}

.app-components {
  display: flex;
  flex-direction: row;
}
